body,p,h2,h3,dl,dd{
    margin: 0;
}
button,input{
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
button{
    border: none;
    background: none;
    cursor: pointer;
}
label,input{
    vertical-align: middle;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
table{
    border-collapse:collapse;
}

@font-face {
    font-family: 'iconfont';
    src: url('//at.alicdn.com/t/font_3206496_6chlt9hmqwd.woff2?t=1652791454742') format('woff2'),
         url('//at.alicdn.com/t/font_3206496_6chlt9hmqwd.woff?t=1652791454742') format('woff'),
         url('//at.alicdn.com/t/font_3206496_6chlt9hmqwd.ttf?t=1652791454742') format('truetype');
  }
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}